@model IEnumerable<MSBA.Model.Project>

@{
    ViewData["Title"] = "Test Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="dvImages" name="dvImages">
    <div class="col-lg-4 col-sm-6 portfolio-item">

        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="" alt=""></a>
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text">
                </p>
            </div>
        </div>
    </div>
</div>

